@model StudentManagement.Models.UserModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
    <span class="mdl-card__title-text text-color--smooth-gray">DARKBOARD</span>
</div>
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
    <span class="login-name text-color--white">Sign up</span>
</div>
<h5>@ViewBag.error</h5>
@using (Html.BeginForm())
{
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            @Html.LabelFor(model => model.UserFirstName, htmlAttributes: new { @class = "mdl-textfield__label" })
            @Html.EditorFor(model => model.UserFirstName, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
        </div>
        @Html.ValidationMessageFor(model => model.UserFirstName, "", new { @class = "text-danger" })
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            @Html.LabelFor(model => model.UserLastName, htmlAttributes: new { @class = "mdl-textfield__label" })
            @Html.EditorFor(model => model.UserLastName, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
        </div>
        @Html.ValidationMessageFor(model => model.UserLastName, "", new { @class = "text-danger" })
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "mdl-textfield__label" })
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
        </div>
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "mdl-textfield__label" })
            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
        </div>
        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            @Html.LabelFor(model => model.UserPassWord, htmlAttributes: new { @class = "mdl-textfield__label" })
            @Html.PasswordFor(model => model.UserPassWord, new { @class = "mdl-textfield__input" })
        </div>
        @Html.ValidationMessageFor(model => model.UserPassWord, "", new { @class = "text-danger" })
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            @Html.LabelFor(model => model.UserConfirmPassWord, htmlAttributes: new { @class = "mdl-textfield__label" })
            @Html.PasswordFor(model => model.UserConfirmPassWord, new { @class = "mdl-textfield__input" })
        </div>
        @Html.ValidationMessageFor(model => model.UserConfirmPassWord, "", new { @class = "text-danger" })
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            @Html.LabelFor(model => model.UserRoleId, htmlAttributes: new { @class = "mdl-textfield__label" }) <span style="margin-inline-start: 50px; font-size: 12px; color:#808080">* You Can Select Multiple Role</span>
        </div>
        @Html.DropDownListFor(model => model.UserRoleId, new SelectList(@ViewBag.UserRoles, "RoleId", "RoleName"), new { @class = "mdl-textfield__input RoleDrop", @multiple = "multiple" })
        @Html.ValidationMessageFor(model => model.UserRoleId, "", new { @class = "text-danger" })
        <br />
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkbox--colored-light-blue checkbox--inline" for="UserTermCondition">
            @Html.CheckBoxFor(model => model.UserTermCondition, new { @class = "mdl-checkbox__input" })
        </label>
        <span class="login-link">I agree all statements in <a href="#" class="underlined">terms of service</a></span>
        <br />
    </div>
    @Html.ValidationMessageFor(model => model.UserTermCondition, "", new { @class = "text-danger" })
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
        <a href="@Url.Action("Login","Auth")" class="login-link">I have already signed up</a>
        <div class="mdl-layout-spacer"></div>
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised color--light-blue" value="SIGN UP">
    </div>
}


<script>
    $("#UserRoleId").select2({
        placeholder: '-- Select User Role --',
    });
</script>
