@model UserSignupLogin.Models.TBLUserInfo

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>TBLUserInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsernameUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsernameUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RePasswordUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RePasswordUs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
